
<p class="datetime">
    {{ date_label }} {% with widget=widget.subwidgets.0 %}{% include widget.template_name %}{% endwith %}<br>
    {{ time_label }} {% with widget=widget.subwidgets.1 %}{% include widget.template_name %}{% endwith %}
</p>

<script>
    var dayCalendar = new CustomCalendar();
    dayCalendar.init({
        target: $('#id_timing_datetime_0'),
        {#range: ['2015-3-5', '2015-3-25'],#}
        multiple: true,
        {#maxdays: 5,#}
        overdays: function(a) {
            alert('添加已达上限 ' + a + ' 天');
        },
    });

</script>
